
<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>用户注册协议</title>
<link type="text/css" rel="stylesheet" href="https://img1.hengyirong.com/assets/blue/newcss/basenew.css">
<link type="text/css" rel="stylesheet" href="https://img1.hengyirong.com/assets/blue/newcss/stylenew.css">
<link type="text/css" rel="stylesheet" href="https://img1.hengyirong.com/assets/blue/newcss/pow_style.css">

</head>

<body style=" background:#f6f6f6 url(https://img1.hengyirong.com/assets/blue/newimages/contract_bg.jpg) repeat-x">
<h3 class="ls_FUNCcard pow_contract_head ">用户注册协议</h3>
<div>
	<div class="pow_contract_box">
<div class="wrap">
<h1>用户注册协议</h1>
<div class="clearfix">
<p class="mt20">
尊敬的客户，欢迎您注册成为本网站用户，在注册前请仔细阅读如下服务条款：
网站（www.dbq168.com，“本网站”）,根据本协议的规定向恒易融用户提供服务。本协议双方为恒易融用户与本公司，适用于用户注册使用本网站服务的全部活动。<br />
　　在注册本网站之前，请您务必认真阅读并充分理解本协议全部内容。您点击本协议下方的“注册”按钮，并按照本网站注册程序成功成为注册为用户 ，即视为您已经充分理解和同意本协议全部内容，并签署了本协议，本协议立即在您与本公司之间产生合同法律效力，您使用本网站服务的全部活动将受到本协议的约束并应承担相应的责任和义务。
</p>
<p class="mt20">
<b>1、协议组成说明</b>
<p class="indent">1.1  本协议的内容包括本协议以下全部条款以及本网站已经公示发布的及将来可能公示发布的各项规则，该等规则均为本协议不可分割的一部分，与本协议以下所列条款具有同等法律效力。</p>
<p class="indent">1.2  本网站有权根据需要修改本协议的内容。如以下条款或本网站各项规则有任何变更，本网站将在网站上刊载公告，不再向用户作个别通知。经修订的相关条款和规则一经公告，即于公告规定的特定生效日期自动生效。请您及时关注本网站关于相关条款和规则的公告，如不同意该变更，请您在变更公告刊载之日起72小时内以您在本网站注册时提供的个人邮箱向本网站公布的的服务邮箱发送邮件或拨打客服电话表明希望终止本协议（"注册终止申请"），本网站确认收到您的邮件和电话后将与您协商本协议终止后双方义务的履行。如您在本条所述时限内未发送注册终止申请，则本条所述时限届满之时，视为您已经同意接受该等变更，并应遵照修改后的协议履行应尽义务，经修订的相关条款和规则一经公告，即于公告规定的特定生效日期自动生效并对您产生法律约束力。</p>
<p class="indent">1.3  本协议不涉及您与本网站的其他用户之间因网上交易而产生的法律关系及法律纠纷。但您在此不可撤销地同意，您将全面接受并履行与本网站其他用户在本网站签订的任何电子法律文本，并承诺按照该法律文本享有和（或）放弃相应的权利、承担和（或）豁免相应的义务。</p>
</p>
<p class="mt20">
<b>2、用户注册需知</b>
<p class="indent">2.1  注册成为本网站用户必须满足如下主体资格条件：您必须是中国大陆公民，年龄在 18 周岁以上，且具有完全的民事权利能力及民事行为能力。如不具备上述资格，您应立即停止在本网站的注册程序、停止使用本网站服务，若违反前述规定注册使用本网站服务，本网站有权随时终止您的注册进程及本网站服务，并保留终止您的用户资格、追究您或您的监护人相关法律责任的权利。</p>
<p class="indent">2.2  在注册时和使用本网站服务的所有期间，您应根据本网站的要求提供您自身的真实资料和信息，并保证自注册之时起至使用本网站服务的所有期间，其所提交的所有资料和信息（包括但不限于真实姓名、电子邮件地址、联系电话、个人身份信息等）真实、准确、完整、有效和合法，复印件与原件一致，并如有变更，请及时更新，如因用户未及时更新信息和资料导致本网站无法向用户提供服务或发生错误，由此产生的法律责任和后果由用户自己承担。如使用他人信息和文件注册使用本网站服务或向本网站提供的信息和资料不符合上述规定，由此引起的一切责任和后果均由用户本人全部承担，本公司及本网站不因此承担任何法律责任，如因此而给本公司及本网站造成损失，用户应当承担赔偿本公司及本网站损失的责任。</p>
</p>
<p class="mt20">
<b>3、网站服务内容及服务费用</b>
<p class="indent">3.1  本网站向您提供以下服务中的一项或多项，具体详情以本网站当时提供的服务内容为准：
<p class="pl20">（1）	提供促成交易的居间服务：信用咨询服务、发布交易需求信息服务、提供交易机会等服务；</p>
<p class="pl20">（2）	提供达成交易后管理服务：还款管理服务、电子合同管理服务、交易信息查询等服务；</p>
<p class="pl20">（3）	交易资金结算管理服务：您通过本网站居间服务与其他用户达成的所有交易项下资金的存放和移转均通过第三方支付机构实现，本网站并不存放交易资金。您应保证您的第三方支付机构账户状态正常并确保足额的交易资金以便正常划转。因前述原因导致交易无法实现的，所有损失由您自行承担。</p>
<p class="pl20">（4）	其他相关服务。</p></p>
<p class="indent">3.2  为了交易公平性及管理便利性，本网站为您提供了《借款协议》（样本）、《债权转让协议》（样本），并在交易达成时，由其为您自动生成《借款协议》或《债权转让协议》并视为您认可《借款协议》、《债权转让协议》效力，生成的《借款协议》等协议可供交易双方查询、存档。本网站为您在本网站发生的交易明细及《借款协议》等文档的保存时间为【十】年。</p>
<p class="indent">3.3  您使用本网站服务时，本公司（含关联企业）有权向您收取服务费用，具体服务费用收取标准以本网站公告或者本公司（含关联企业）与您另行签订的相关协议为准。您在此不可撤销地承诺，您将按照您签署的相关协议约定向本公司（含关联企业）支付服务费用，并同意授权本网站有权自其有关账户中直接扣划服务费用。您通过本网站与其他方签订协议的，您应按照签署的协议约定向其他方支付费用。</p>
</p>
<p class="mt20">
<b>4、用户使用规则</b>
<p class="indent">4.1  您不得利用本网站或本网站服务从事任何不符合中国法律法规或侵犯他人权益的活动。不得自行发布、转载、传送含有下列内容之一的信息，本网站在发现您从事该等活动和发布信息时，有权基于本网站的独立判断直接删除您在本网站上作出的相关信息，有权不经通知而立即停止您对本网站的全部或部分功能的使用（包括但不限于中止、终止、限制您使用本网站服务）而无需通知您，亦无需承担任何责任。如因此而给本公司及本网站造成损失的，应当赔偿本公司及本网站的损失。
<p class="pl20">（1）	违反宪法确定的基本原则的；</p>
<p class="pl20">（2）	危害国家安全，泄露国家机密，颠覆国家政权，破坏国家统一的；</p>
<p class="pl20">（3）	损害国家荣誉和利益的；</p>
<p class="pl20">（4）	煽动民族仇恨、民族歧视，破坏民族团结的；</p>
<p class="pl20">（5）	破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
<p class="pl20">（6）	散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
<p class="pl20">（7）	散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；</p>
<p class="pl20">（8）	侮辱或者诽谤他人，侵害他人合法权益的；</p>
<p class="pl20">（9）	煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的；</p>
<p class="pl20">（10）	以非法民间组织名义活动的；</p>
<p class="pl20">（11）	含有法律、行政法规禁止的其他内容的。</p></p>
<p class="indent">4.2 在使用本网站时，您不得违反下述规定，如有违反任意一条，本网站基于本网站的独立判断直接删除您在本网站上作出的相关信息，有权要求您改正或直接采取必要的措施禁止（包括但不限于中止、终止、限制您使用本网站服务）而无需通知您，亦无需承担任何责任。如因此而给本公司及本网站造成损失的，您应当赔偿本公司及本网站的损失。
<p class="pl20">（1）	不得为任何非法目的而使用网络服务系统；</p>
<p class="pl20">（2）	遵守所有与网络服务有关的网络协议、规定和程序；</p>
<p class="pl20">（3）	不得利用本网站进行任何可能对互联网的正常运转造成不利影响的行为；</p>
<p class="pl20">（4）	不得利用本网站进行任何不利于本网站或侵犯本公司利益的行为或言论。</p></p>
<p class="indent">4.3 账户安全及管理：
<p class="indent">4.3.1  您在注册时向本网站提交的电子邮箱、用户名、密码及安全问题答案是您在本网站的唯一识别信息。您注册成功后，您应当妥善保管自己的用户名和密码，并对自己的用户名及密码安全性负责，不得将注册的电子邮箱、用户名、密码及安全问题答案转让、赠与或授权给第三方使用。您确认使用您的用户名和密码登陆本网站后在本网站的一切行为以及以您在本网站注册时提交的个人电子邮箱发送邮件的行为均代表您本人，并由您承担相应的法律后果，本公司及本网站不承担任何责任。</p>
<p class="indent">4.3.2  协助义务：您如发现有第三人冒用或盗用您账户及密码，或其他任何未经合法授权的情形，应立即以有效方式通知本网站，要求本网站暂停相关服务，否则由此产生的一切责任由您本人承担。同时，您理解本网站对您的请求采取行动需要合理期限，在此之前，本网站对第三人使用该服务所导致的损失不承担任何责任。
<p class="indent">4.3.3  本网站有权基于单方独立判断，在其认为可能发生危害交易安全等情形时，不经通知而先行暂停、中断或终止向您提供本协议项下的全部或部分服务（包括收费服务），并将注册资料移除或删除，且无需对您或任何第三方承担任何责任。前述情形包括但不限于：
<p class="pl20">（1）	本网站认为您提供的个人资料不具有真实性、有效性或完整性；</p>
<p class="pl20">（2）	本网站发现异常交易或有疑义或有违法之虞时；</p>
<p class="pl20">（3）	本网站认为您的账户涉嫌洗钱、套现、传销、被冒用或其他本网站认为有风险之情形；</p>
<p class="pl20">（4）	本网站认为您已经违反本协议中规定的各类规则及精神；</p>
<p class="pl20">（5）	您在使用本网站收费服务时未按规定向本公司（含关联企业）支付相应的服务费用；</p>
<p class="pl20">（6）	用户账户已连续三年内未实际使用且账户中余额为零；</p>
<p class="pl20">（7）	本网站基于交易安全等原因，根据其单独判断需先行暂停、中断或终止向您提供本协议项下的全部或部分用户服务（包括收费服务），并将注册资料移除或删除的其他情形。</p></p>
<p class="indent">4.3.4 您同意，在必要时，本网站无需进行事先通知即有权终止提供用户账户服务，并可能立即暂停、关闭或删除您账户及该用户账户中所有相关资料及档案。</p>
<p class="indent">4.3.5 账户注销：当您决定不再使用用户账户时，应首先清偿所有应付款项（包括但不限于借款本金、利息、罚息、违约金、服务费、管理费等），再将您用户账户中的可用款项（如有）全部取现或者向恒易融发出其它合法的支付指令，并向恒易融申请注销该用户账户，经恒易融审核同意后可正式注销用户账户。用户死亡或被宣告死亡的，其在本协议项下的各项权利义务由其继承人承担。若用户丧失全部或部分民事权利能力或民事行为能力，本网站或其授权的主体有权根据有效法律文书（包括但不限于生效的法院判决等）或其法定监护人的指示处置与用户账户相关的款项。强制注销用户账户的规则按此执行。</p>
<p class="indent">4.3.6  您同意，用户账户的暂停、中断或终止不代表您责任的终止，您仍应对使用本网站服务期间的行为承担可能的违约或损害赔偿责任，同时本网站仍可保有您的相关信息。</p></p>
<p class="indent">4.4  知识产权：
<p class="indent">4.4.1  本网站的所有内容，包括但不限于文本、数据、图片、音频、视频、源代码和其他所有信息，均由本公司及本网站享有知识产权。未经本网站事先书面同意，不得复制、模仿、改编、传播、公布、展示或以任何其他方式侵犯本网站的知识产权。未经本公司书面同意,您不得将本网站包含的资料等任何内容发布到任何其他网站或者服务器。任何未经授权对本网站内容的使用均属于违法行为,本公司有权追究法律责任。注册用户未经本网站的明确书面同意不许下载（除了页面缓存）或修改平台或其任何部分。</p>
<p class="indent">4.4.2  您不得对恒易融平台或其内容进行转售或商业利用；不得收集和利用产品目录、说明和价格；不得对恒易融平台或其内容进行任何衍生利用；不得为其他商业利益而下载或拷贝账户信息或使用任何数据采集、收集和摘录工具。未经本网站的书面许可，严禁对恒易融平台的内容进行系统获取以直接或间接创建或编辑文集、汇编、数据库或人名地址录（无论是否通过Robots、Spiders、自动仪器或手工操作）。另外，严禁为任何未经本协议明确允许的目的而使用恒易融平台上的内容和材料。</p></p>
</p>
<p class="mt20">
<b>5、用户隐私保护及授权</b>
<p class="indent">5.1  您同意本网站在业务运营中收集和储存您的用户信息，包括但不限于您自行提供的资料和信息，以及本网站自行收集、取得的您在本网站的交易记录和使用信息等。本网站收集和储存您的用户信息的主要目的在于提高为您提供服务的效率和质量。</p>
<p class="indent">5.2  本网站不对外公开或第三方提供单个用户的注册资料及用户在使用网络服务时存储在本网站的非公开内容，但下列情况除外：
<p class="pl20">（1）	事先获得用户的明确授权；</p>
<p class="pl20">（2）	根据有关的法律法规要求；</p>
<p class="pl20">（3）	按照相关政府主管部门的要求；</p>
<p class="pl20">（4）	为维护社会公众的利益。</p></p>
<p class="indent">5.3 本网站可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与本站同等的保护用户隐私的责任，则本站有权将用户的注册资料等提供给该第三方。</p>
<p class="indent">5.4  本网站按照您在本网站上的行为自动追踪关于您的某些资料。在不透露注册用户的隐私资料的前提下，本网站有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。</p>
<p class="indent">5.5  您同意，本公司及本网站可在本网站平台的某些网页上使用数据收集装置。</p>
</p>
<p class="mt20">
<b>6、责任限制</b>
<p class="indent">6.1  基于互联网的特殊性，本公司无法保证本网站的服务不会中断，对于包括但不限于本公司、本网站及相关第三方的设备、系统存在缺陷，计算机发生故障、遭到病毒、黑客攻击或者发生地震、海啸等不可抗力而造成服务中断或因此给您造成的损失，本公司不承担任何责任，有关损失由您自己承担。</p>
<p class="indent">6.2  本公司无义务监测本网站内容。您对于本网站披露的信息、选择使用本网站提供的服务，选择参与交易等，应当自行判断真实性和承担风险，由此而产生的法律责任和后果由您自己承担，本公司不承担任何责任。</p>
<p class="indent">6.3  与本公司合作的第三方机构向您提供的服务由第三方机构自行负责，本公司不对此等服务承担任何责任。</p>
<p class="indent">6.4  本网站的内容可能涉及第三方所有的信息或第三方网站，该等信息或第三方网站的真实性、可靠性、有效性等由相关第三方负责，您对该等信息或第三方网站自行判断并承担风险，与本网站和本公司无关。</p>
<p class="indent">6.5  无论如何，本公司对您承担的违约赔偿（如有）总额不超过向您收取的服务费用总额。</p>
</p>
<p class="mt20">
<b>7、风险提示</b>
<p class="indent">7.1  您了解并认可，任何通过本网站进行的交易并不能避免以下风险的产生，本网站不能也没有义务为如下风险负责：
<p class="pl20">（1）	宏观经济风险：因宏观经济形势变化，可能引起价格等方面的异常波动，您有可能遭受损失；</p>
<p class="pl20">（2）	政策风险：有关法律、法规及相关政策、规则发生变化，可能引起价格等方面异常波动，您有可能遭受损失；</p>
<p class="pl20">（3）	违约风险：因其他交易方无力或无意愿按时足额履约，您有可能遭受损失；</p>
<p class="pl20">（4）	利率风险：市场利率变化可能对购买或持有产品的实际收益产生影响；</p>
<p class="pl20">（5）	不可抗力因素导致的风险；</p>
<p class="pl20">（6）	因您的过错导致的任何损失 ，该过错包括但不限于：操作不当、遗忘或泄露密码、密码被他人破解、您使用的计算机系统被第三方侵入、您委托他人代理交易时他人恶意或不当操作而造成的损失。</p></p>
<p class="indent">7.2  除按照规则运作还款风险金外（还款风险金规则以本网站最新公告为准），本网站不对任何您及/或任何交易提供任何担保或条件，无论是明示、默示或法定的。本网站不能也不试图对您发布的信息进行控制，对该等信息，本网站不承担任何形式的证明、鉴定服务。本网站不能完全保证平台内容的真实性、充分性、可靠性、准确性、完整性和有效性，并且无需承担任何由此引起的法律责任。您依赖于您的独立判断进行交易，您应对其作出的判断承担全部责任。</p>
<p class="indent">7.3 以上并不能揭示您通过本网站进行交易的全部风险及市场的全部情形。您在做出交易决策前，应全面了解相关交易，谨慎决策，并自行承担全部风险。</p>
</p>
<p class="mt20">
<b>8、其他</b>
<p class="indent">8.1  本协议的订立、执行、解释及争议解决均适用中华人民共和国法律（不包括香港、澳门、台湾地区）。本协议条款具有可分性，部分无效不影响其它部门效力。本网站对本协议拥有最终的解释权。</p>
<p class="indent">8.2  如果你是本网站注册用户，本协议条款将对您持续有效，有效期至您注销或者被关闭账户后。</p>
<p class="indent">8.3  如有任何争议，应先友好协商解决，协商不成，应提交本公司所在地有管辖权的法院诉讼解决。</p>
</p>
</div>
</div>
</div>
</div>
<div class="pow_contract_bottom"><input name="" type="button" class="sy_tixian" value="关闭" onclick="window.close()" />
</div>
</body>
</html>
